.PhoneInputInput {
	height: 40px;
}

.ant-menu-item-active {
	color: red !important;
  }

  .ant-menu-item-active{
	background-color: rebeccapurple !important;
  }
  .ant-menu-item-selected{
	background-color: chartreuse !important;
	color: aliceblue !important;
  }

  .ant-menu{
	background-color: burlywood;
  }