.PhoneInputInput {
	height: 40px;
}

.ant-menu-item-active {
	color: white !important;
  transform: scale(1.1);
  }

  .ant-menu-item-active{
	background-color: #2B2A3F !important;
  }
  .ant-menu-item-selected{
	background-color: #6560F0 !important;
	color: aliceblue !important;
  }

  .ant-menu{
	background-color: #2B2A3F;
  }

  .ant-btn-primary{
    background-color: #6560F0 !important;
  }

  .ant-btn-primary:hover{
    background-color: #150ef2 !important;
    
  }

  .ant-btn-icon-only:hover{
    background-color: white !important;
  }

  